body {
  background-color: gray;
  color: azure;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
}

.book-card {
  background: antiquewhite;
  color: black;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
